.container
    footer.footer
        p.footer__text
            span Created by 
            a.footer__link(href='https://github.com/Amirrgh') Amir
            span &nbsp;for community.
         
        