:root {
    --font: Arial;
    --orangeCoral: linear-gradient(to top left, #ff9966, #ff5e62);
    --secondary-color-dark: #7B1FA2;
    --secondary-color-light: #7C4DFF;
    --primary-color-dark: #ff5e62;
    --primary-color-light: #ff9966;
    --white: #f4f4f4;
    --gray: #333;
    --gray-light: #666;
    --edit: #1089ff;
    --delete: #ce2e6c;
    --font-one: 5rem;
    --font-two: 3.5rem;
    --font-three: 2.5rem;
    --font-four: 1.5rem;
    --font-five: 1rem;
}