.footer {
    @include headerFooter(center);
    margin-top: 20rem;
    @media(max-width: 500px) {
        margin-top: 10rem;
    }
    &__text {
        font-size: 1.5rem;
        color: var(--primary-color-dark);
        font-weight: 700;
    }
    &__link {
        color: var(--priamry-color-light);
        transition: all 0.5s;
        &:hover {
            color: var(--primary-color-dark);
            transform: translateY(1rem)scale(1.1);
        }
    }
}